@model IEnumerable<OrderModel>
@{
    ViewData["title"] = " Listed Order";
}
<h3> List Order</h3>

<table class="table"  >
    <thead>
        <tr>
            <th>Id</th>
            <th>Order Code</th>
            <th>Shipping Cost</th>
            <th>Coupon Code</th>
            <th>UserName</th>
            <th>Order Status</th>
            <th>Create Date</th>
            <th>Action</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Order_code</td>
                <td>@item.ShippingCost.ToString("#,##0 VNĐ")</td>
                <td>@item.CouponCode</td>
                <td>@item.UserName</td>
               
                <td></td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }
                    else
                    {

                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>@item.CreatedDate</td>
                <td></td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.Order_code">View Order</a>
                    <a class="btn btn-danger btn-sm " asp-action="Delete" asp-controller="Order" asp-route-ordercode="@item.Order_code">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>