@model ProductDetailsViewModel
<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.ProductDetails.Image" alt="" width="100px" height="200px" />
				
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item ">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>
						<div class="item">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>
						<div class="item">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>

					</div>

					<!-- Controls -->
					<a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->
					<h2>@Model.ProductDetails.Name</h2>
					
					<span>
						<span>@Model.ProductDetails.Price.ToString("#,##0 VNĐ")</span>
						
						@if (Model.ProductDetails.Quantity > 0)
						{
							<button class="btn btn-default add-to-cart" data-product_id="@Model.ProductDetails.Id"><i class="fa fa-shopping-cart"></i> Thêm giỏ hàng</button>
						}
						else
						{
							<button class="btn btn-default "><i class="fa fa-shopping-cart"></i> Hết hàng</button>
						}


					</span>
				@* 
					<p><b>Brand:</b> @Model.ProductDetails.Brand.Name</p>
					<p><b>Category:</b> @Model.ProductDetails.Category.Name</p> *@
					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Chi tiết sản phẩm</a></li>
					<li><a href="#reviews" data-toggle="tab">Đánh giá sản phẩm</a></li>
				</ul>
			</div>
			<div class="tab-content">
				
				<div class="tab-pane fade active in " id="details">
					@Html.Raw(Model.ProductDetails.Description)
				</div>
				<div class="tab-pane fade" id="reviews">
					<div class="col-sm-12">
						<h4>Đánh giá của khách hàng</h4>

						@if (Model.RatingList != null && Model.RatingList.Any())
						{
							foreach (var r in Model.RatingList)
							{
								<div class="review-item mb-3 border-bottom pb-2">
									<strong>@r.Name</strong>
									<span class="text-muted">(@r.Email)</span>
									<span>- ⭐ @r.Star</span>
									<p>@r.Comment</p>
								</div>
							}
						}
						else
						{
							<p>Chưa có đánh giá nào cho sản phẩm này.</p>
						}

						@if (ViewBag.IsUserLoggedIn == true)
						{
							<h4>Gửi đánh giá của bạn</h4>

							<form asp-action="AddRating" method="post">
								<input type="hidden" asp-for="RatingDetails.ProductId" />

								<div class="form-group">
									<label asp-for="RatingDetails.Star">Số sao:</label>
									<select asp-for="RatingDetails.Star" class="form-control">
										<option value="5">5 sao</option>
										<option value="4">4 sao</option>
										<option value="3">3 sao</option>
										<option value="2">2 sao</option>
										<option value="1">1 sao</option>
									</select>
								</div>

								<div class="form-group">
									<label asp-for="RatingDetails.Comment">Bình luận:</label>
									<textarea asp-for="RatingDetails.Comment" class="form-control"></textarea>
									<span asp-validation-for="RatingDetails.Comment" class="text-danger"></span>
								</div>

								<button type="submit" class="btn btn-success pull-right mt-2">Gửi đánh giá</button>
							</form>
						}
						else
						{
							<p class="text-muted mt-3">
								Vui lòng <a href="/Account/Login">đăng nhập</a> để gửi đánh giá.
							</p>
						}
					</div>
				</div>

		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">Related Product</h2>

			<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">
						@foreach (var relatedProduct in @ViewBag.RelatedProducts as IEnumerable<ProductModel>)
						{
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">


										<div class="productinfo text-center">
											<a asp-action="Detail" asp-controller="Product" asp-route-Id="@relatedProduct.Id">
												<img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name" width="100px" height="200px" />
												<h2>@relatedProduct.Price.ToString("#,##0 VNĐ")</h2>
												<p>@relatedProduct.Name</p>
												<p>Danh mục: @relatedProduct.Category.Name</p>
												<p>Thương hiệu: @relatedProduct.Brand.Name</p>
											</a>

										</div>


									</div>

								</div>
							</div>
						}

					</div>
				
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div><!--/recommended_items-->

	</div>
</div>
@section Scripts {
	<script>

		$('.add-to-cart').click(function () {
			var Id = $(this).data("product_id");

			//alert(product_id);

			$.ajax({
				type: "POST",
				url: "@Url.Action("Add", "Cart")",
				data: { Id: Id }, // Send data to the server

				success: function (result) {
					// Handle successful update
					if (result) {

						Swal.fire("Thêm giỏ hàng thành công.");
					}
				}

			});
		});

	</script>
}
