@using ShoppingLearn.Models.ViewModels
@model CartItemViewModel
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<th class="image" style="width: 100px;">Item</th>
						<th colspan="4" class="description" style="width: 120px;">Title</th>
						<th class="price">Price</th>
						<th class="quantity" style="width: 120px;">Quantity</th>
						<th class="total">Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count > 0)
					{
						@foreach (var item in Model.CartItems)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~/media/products/@item.Image" alt="" width="70px" height="70px"></a>
								</td>
								<td colspan='4' class="cart_description fw-500">
									@* <h4><a href="">@item.ProductName</a></h4> *@
									<span>@item.ProductName</span>
								</td>
								<td class="cart_price">
									<p>@item.Price.ToString("#,##0 VNĐ")</p>
								</td>
								<td class="" >

									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
										<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
										<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
										@* <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a> *@
							
								</td>
								<td class="cart_total">
									<p class="cart_total_price">@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ")</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" asp-action="Remove" asp-controller="Cart" asp-route-id="@item.ProductId"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
					
						<tr>
							<td colspan="5">  
								GrandTotal: <p class="cart_total_price" id="grand_price"> @Model.GrandTotal.ToString("#,##0 VNĐ") </p>
								<form>
									Coupon Code: <input type="text" class="form-control coupon-value" />
									<span class="text text-success" id="coupon_text">@Model.CouponCode</span> <br />

									<input type="button" value="Apply" class="btn btn-sm btn-primary btn-apply-coupon btn-apply" />
								</form>

								Shipping Cost: <p class="cart_total_price" id="shipping_text"> @Model.ShippingCost.ToString("#,##0 VNĐ") </p>
								<p> <a asp-action="DeleteShipping" asp-controller="Cart">Xóa shipping</a>  </p>
							    </td>
							    <td>
							<div class="form-group">
									<label>Tỉnh thành phố</label>
									<select class="css_select" id="tinh" name="tinh" class="form-control" title="Chọn Tỉnh Thành">
										<option value="0">Tỉnh Thành</option>
									</select>
							</div>

								<div class="form-group">
									<label>Quận huyện</label>
									<select class="css_select" id="quan" name="quan" class="form-control" title="Chọn Quận Huyện">
										<option value="0">Quận Huyện</option>
									</select>
								</div>

								<div class="form-group">
									<label>Phường Xã</label>
									<select class="css_select" id="phuong" name="phuong" class="form-control" title="Chọn Phường Xã">
										<option value="0">Phường Xã</option>
									</select>
								</div>
								<button type="button" class="btn btn-primary btn-add-shipping btn-apply">Tính phí vận chuyển</button>
							</td>
							@if (User.Identity?.IsAuthenticated ?? false)
							{
								<td> 
									@if(@Model.ShippingCost <= 0)
									{
										<span class="text text-danger">Yêu cầu tính phí vận chuyển trước khi đặt hàng </span>
									}
									else
									{
										@* <a  class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="Checkout"> Đặt hàng </a> *@
									}

								</td>
								<td>
									<a class="btn btn-danger" asp-controller="Cart" asp-action="Clear" > Clear all cart</a><br/>
									<a disable="disable" onclick="return confirm('Xác nhận đặt hàng')" class="btn btn-primary" asp-controller="Checkout" asp-action="Checkout"> Đặt hàng </a> <br />
									<form method="POST" asp-action="CreatePaymentMomo" asp-controller="Payment">
										<input type="hidden" name="FullName" value="@User.Identity.Name" />
										<input  type="hidden" name="Amount" value="@Model.GrandTotal"/>
										
										<input type="hidden" name="OrderInfo" value="Thanh toán Momo cho đơn hàng tại cửa hàng" />

										<br />
										<button class="btn btn-danger" name="PayUrl" type="submit">Pay with MoMo</button>

									</form>
									<form method="POST" asp-action="CreatePaymentUrlVnpay" asp-controller= "Payment">
										<input type="hidden" name="Name" value="@User.Identity.Name" />
										<input type="hidden" name="Amount" id="total_price" value="@Model.GrandTotal" />
										<input type="hidden" name="Discount" id="discount" value="" />
										<input type="hidden" name="Shipping" id="shipping_price" value="" />

										<input type="hidden" name="OrderDescription" value="Thanh toán VnPay cho đơn hàng tại cửa hàng" />

										<input type="hidden" name="OrderType" value="other" />
										<br />
										<button class="btn btn-success" type="submit">Pay with Vnpay</button>
									</form>
								</td>
							}
							
						</tr>
					}
					else
					{
						<tr>
							<td colspan="5"> <h4> Your Cart is Empty</h4></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
@section Scripts{
	<script>
		$(".btn-apply-coupon").click(function () {
			var coupon_value = $(".coupon-value").val();
			//alert(coupon_value);
			$.ajax({
				type: "POST",
				url: "@Url.Action("GetCoupon", "Cart")",
				data: { coupon_value: coupon_value },
				success: function (result) {
					if (result.success) {

						Swal.fire(result.message);
						location.reload();
					} else {

						Swal.fire(result.message);
					}
				}

			});
		});
	</script>
	<script>
		$(document).ready(function () {
			$(".btn-add-shipping").click(function () {
				var tinh = $("#tinh").find('option:selected').text();
				var quan = $("#quan").find('option:selected').text();
				var phuong = $("#phuong").find('option:selected').text();

				// alert(tinh);
				// alert(quan);
				// alert(phuong);
				// alert(price);
				if (tinh == '' || quan == '' || phuong == '') {
					Swal.fire("Làm ơn ko bỏ trống.");
				} else {
					$.ajax({
						type: "POST",
						url: "@Url.Action("GetShipping", "Cart")",
						data: { tinh: tinh, quan: quan, phuong: phuong }, // Send data to the server

						success: function (result) {
							// Handle successful update
							if (result) {

								location.reload(); 

							}
						}

					});
				}
			})
			// lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
				if (data_tinh.error == 0) {
					$.each(data_tinh.data, function (key_tinh, val_tinh) {
						$("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
					});
					$("#tinh").change(function (e) {
						var idtinh = $(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
							if (data_quan.error == 0) {
								$("#quan").html('<option value="0">Quận Huyện</option>');
								$("#phuong").html('<option value="0">Phường Xã</option>');
								$.each(data_quan.data, function (key_quan, val_quan) {
									$("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
								});
								//Lấy phường xã
								$("#quan").change(function (e) {
									var idquan = $(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
										if (data_phuong.error == 0) {
											$("#phuong").html('<option value="0">Phường Xã</option>');
											$.each(data_phuong.data, function (key_phuong, val_phuong) {
												$("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
											});
										}
									});
								});

							}
						}); //end $.getJson

					});

				}
			});
		});
	</script>
	<script>
		// document.addEventListener("DOMContentLoaded", function () {
		document.getElementById("shipping_price").value = @Model.ShippingCost;

		// Set value coupon
		const element = document.querySelector("#coupon_text.text-success");
		const text = element.innerText;

		const match = text.match(/Giảm\s+([\d.,]+)%/);
		const percent = match ? match[1] : null;
		document.getElementById("discount").value = percent;

		var final_price = (@Model.GrandTotal + @Model.ShippingCost) * (1 - percent/100.0);

		document.getElementById("grand_price").innerText = final_price.toLocaleString("vi-VN") + " VNĐ";
		document.getElementById("total_price").value = final_price;

	</script>
}