@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "List Orders History placed by" + @ViewBag.UserEmail;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <h3>List Orders History placed by: @ViewBag.UserEmail</h3>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Code</th>
                <th>Shipping Cost</th>
                <th>Coupon</th>
                <th>Receiver</th>
                <th>PhoneNumber</th>
                <th>Order Status</th>
                <th>Payment Method</th>
                <th>Created Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Order_code</td>
                    <td>@item.ShippingCost.ToString("#,##0 VNĐ")</td>
                    <td>@item.CouponCode</td>
                    <td>@item.Receiver</td>
                    <td>@item.PhoneReceiver</td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-success">Đơn hàng mới</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span class="text text-primary">Đã xử lý</span>
                        }
                        else{

                            <span class="text text-danger">Đã hủy</span>
                            }
                        </td>
                        <td>
                            @if(item.PaymentMethod == "COD" )
                        {
                            <span class="text text-primary"> @item.PaymentMethod</span>
                        }
                        else if (item.PaymentMethod != "COD")
                        {
                            <span class="text text-success">  @item.PaymentMethod</span>
                        }
                    </td>
                    <td>@item.CreatedDate.ToString("dd-MM-yyyy")</td>
                    <td>
                        @if (item.Status != 3)
                        {
                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-warning btn-sm" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.Order_code">Hủy đơn hàng</a>
                        }
                       
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>