
@{
    ViewData["title"] = "Dash board";

}
    <h3>Dashboard Statistic</h3>
    <div class="row">
        <div class="col-md-3">
            <p> Thống kê sản phẩm </p>
            @ViewBag.CountProduct
        </div>
        <div class="col-md-3">
            <p> Thống kê đơn hàng </p>
            @ViewBag.CountOrder
        </div>
        <div class="col-md-3">
            <p> Thống kê danh mục </p>
            @ViewBag.CountCategory
        </div>
        <div class="col-md-3">
            <p> Thống kê user </p>
            @ViewBag.CountUser
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            <h4>Lọc dữ liệu theo:</h4>
            <select class="filter-select">
                <option value="">---Lọc dữ liệu---</option>
                <option value="7">7 ngày trước</option>
                <option value="30">1 tháng qua</option>
                <option value="90">3 tháng trước</option>
                <option value="365">1 năm</option>
            </select>
            </div>
            <div class="row">
                <h4>Biểu đồ thống kê</h4>
            <div id="myfirstchart" style="height: 250px;"></div>
            </div>
           
        </div>
    </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var ChartMorris = new Morris.Line({
                       element: "myfirstchart",
                       data: [],
                       xkey:'date',
                       xLabelFormat: function (x){
                           return new Date(x).toLocaleDateString();
                       },
                       ykeys: ['sold','quantity','revenue','profit'],
                       labels:["Số lượng bán ra","Đơn hàng","Doanh thu","Lợi nhuận"]
                   });
            $.ajax({
               url:"@Url.Action("GetChartData","Dashboard")",
               type:"POST",
               dataType:"json",
               success: function (data){
                 if (data) {
                        ChartMorris.setData(data.map(function (item){
                             return{
                                    date : item.date,
                                    sold : item.sold,
                                    quantity : item.quantity,
                                    revenue: item.revenue,
                                    profit:item.profit

                               };
                           }));
                 } else{
                     console.warn("No data recevied for Morris chart update");
                     ChartMorris.setData([]);
                 }
                   
               },
               error: function(error) {
                   console.error("Error fetching data:",error);
               }
            });
            $('.filter-select').on('change',function () {
                var days = $(this).val();
                var endDate = new Date();
                var startDate = new Date(endDate.getTime() - days * 24 * 60 * 60 * 1000);

                $.ajax({
                    url: "@Url.Action("GetChartDataBySelect", "Dashboard")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        startDate : startDate.toISOString().split('T')[0],
                        endDate: endDate.toISOString().split('T')[0]
                    },
                    success: function (data) {
                        if (data) {
                            ChartMorris.setData(data.map(function (item) {
                                return {
                                    date: item.date,
                                    sold: item.sold,
                                    quantity: item.quantity,
                                    revenue: item.revenue,
                                    profit: item.profit

                                };
                            }));
                        } else {
                            console.warn("No data recevied for Morris chart update");
                            ChartMorris.setData([]);
                        }

                    },
                    error: function (error) {
                        console.error("Error fetching data:", error);
                    }
                });
            });
        });
    </script>
}